
  a {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-thickness: 54%;
    font-size: 100%;
    transition: .50s;
    position: relative;
    text-decoration: none;
    padding-bottom: 10px;
  }


  
  img {
  
    padding: px;
    border-radius: 25px;
    vertical-align: middle;
    
  }
  
  
  .rectangle {

    padding:0px;
    background-color:#55067c73;
    width: fit-content;
    transition: 0.75s;
    position: fixed;
    z-index:1;
    left: 0%;
    top: 0%;
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);

    
    
    
    

  }

  .horizontalspacer {
    height: 0px;
    width: 0px;

  }



  
  

  
  
  .rndrec {
  
  border-radius: 25px;
  background-color: #55067ca6;
  padding: 15px;
  width: 200px;
  height: 210px;
  display: grid;
  transition: 0.30s;
  margin: 10px;
  display: inline-block;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  outline-style: solid;
  outline-color:#490670;


  
  
  }

  .more {
  
    border-radius: 25px;
    background-color: #55067c;
    padding: 15px;
    width: 100px;
    height: 20px;
    display: grid;
    transition: 0.75s;
    margin: 10px;
    outline-style: solid;

    
    
    }

    .search-input {
  
      border-radius: 25px;
      background-color: #55067ca6;
      padding: 15px;
      width: 500px;
      height: 20px;
      display: grid;
      transition: 0.75s;
      color: white;
      outline-style: solid;
      outline-color:#490670;
      backdrop-filter: blur(5.1px);
      -webkit-backdrop-filter: blur(5.1px);
      
      
      
      
      }  
      .search-button {
  
        border-radius: 25px;
        background-color: #55067ca6;
        padding: 15px;
        width: 100px;
        height: 50px;
        display: grid;
        transition: 0.75s;
        margin: 10px;
        color: white;
        backdrop-filter: blur(5.1px);
       -webkit-backdrop-filter: blur(5.1px);
        
        
        
        
        }  
    .search-container {
          display: flex;
          align-items: center;


    }

    .search{
    border-radius: 25px;
    background-color: #55067c;
    padding: 1px;
    width: 500px;
    height: 40px;
    display: grid;
    transition: 0.75s;
    margin: 10px;
    
    
    }
  .rndrecbutton {
  
    border-radius: 25px;
    background-color: #55067c;
    padding: 15px;
    width:100px;
    height: 20px;
    display: grid;
    transition: 0.75s;
    display: fit-content;
    outline-style: solid;
    outline-color:#490670;
    
    
    
    }
    .rndrecbutton2 {
  
      border-radius: 25px;
      background-color: #55067c;
      padding: 15px;
      width:100px;
      height: 20px;
      display: grid;
      transition: 0.75s;
      outline: solid;
      margin: auto;
      outline-color: blueviolet;
      
      
      
      }
    .main {

      border-radius: 25px;
      background-color: #fafafa33;
      padding: 15px;
      height: 500px;
      display: grid;
      outline-style: solid;
      outline-color:#8a5302;
      width: fit-content;
      background-image: url(Assets/compasswallp.png);




    }
    .main3 {

      border-radius: 25px;
      background-color: #2bd808;
      padding: 15px;
      width:400px;
      height: 500px;
      display: grid;
      outline-style: solid;
      outline-color:#107403;




    }
    .main2 {

      border-radius: 25px;
      background-color: #7c0606;
      padding: 15px;
      width:400px;
      height: 250px;
      display: grid;
      outline-style: solid;
      outline-color:#490670;



    }

    .rndrecother {
      border-radius: 25px;
      background-color: #55067ca6;
      padding: 15px;
      width: 150px;
      height: 140px;
      display: grid;
      transition: 0.30s;
      margin: 10px;
      display: inline-block;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      outline-style: solid;
      outline-color:#490670;

      }
  
  .button {
    border-radius: 25px;
    background-color: #3f065c;
    padding: 0px;
    width: 0px;
    height:0px;
    
  }
  .spacer {
      width: 10px;
      height: 50px;
  
  
  }
  body {
    background-color: #0a000c;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 120%;

    
    

  
    
  }
  .rndrec:hover {
    background-color: #6c1f998a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  
  
  }
  
  .rndrecbutton:hover {
    background-color: #31044b;
    transform: translate(3%, 3%);
  
  
  }
  .more:hover {
    background-color: #31044b;
    transform: translate(3%, 3%);
  
  
  }
.rndrecother:hover {
  background-color: #6c1f998a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);



  
}

.rndrecbutton2:hover {
  background-color: #31044b;



}
  
a:hover {
  color: #ffffff;
  height: 2px;
}

#hover-worthy::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  

  }

#hover-worthy:hover::before {
  transform: scaleX(1.15);
}
  
  
  
  
  
  

  h2 {text-align: center;}
  div {text-align: center;}
  p {text-align: center;}
  a {text-align: center;}

  
  h1{
    color: rgb(255, 255, 255);
    font-family: Verdana;
    font-size: 1000%;
    text-shadow: 10px 10px black;
  }
  div{

  border: 3px solid ();
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: Verdana;
  font-size: 100%;
  width: fit-content;
  height: fit-content;
  
  }
  h2 {
    color: rgb(255, 255, 255);
    font-family: Verdana;
    font-size: 300%;
    text-shadow: 5px 5px black;
  }
  h3 {
    color: rgb(255, 255, 255);
    font-family: Verdana;
    font-size: 200%;
    text-shadow: 3px 3px black;
    text-align: center;
  }
  p {
    color: rgb(255, 255, 255);
    font-family: Verdana;

  }
  .navbar2 { margin:0; padding:0 }

  .navbar2 {
      display: inline-block;
      width: 100%;
      height: 50px;

  }
  