@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

/*ANIMATIONS*/
@keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    border-color: white;
  }
}

@keyframes fall {
  0% {
    transform: translateY(-500px);
  }

  80% {
    transform: translateY(3px);
  }
  
  100% {
    transform: translateY(0px);
  }
}

#raah:hover {
  color: #4a4a4a;
}

@keyframes brighten {
  0% {
    filter: brightness(1%);
  }
  
  100% {
    filter: brightness(100%);
  }
}

@keyframes Shadow {
  25% {
    box-shadow: 0 0 70px;
  }
  
  100% {
    box-shadow: 0 0 70px;
  }
}

/*END OF ANIMATIONS*/

#h1ani {
  animation: fall 1s;
  transition: 1s;
}

#h1ani:hover {
  transform: translateY(5px);
}

#signup {
  animation: brighten 5s;
  text-shadow: none;
}

.rndrec:hover {
  transform: scale(0.95);
  box-shadow: 0 0 70px;
}

input:hover {
  box-shadow: 0 0 70px;
}

.rndrec::after {
  animation: spinShadow 3s linear infinite;
  size: 150px;
}

a {
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-thickness: 54%;
  font-size: 100%;
  transition: .50s;
  position: relative;
  text-decoration: none;
  padding-bottom: 10px;
}

.header {
  background-image: url(Assets/bg.gif);
  background-size: cover;
  width: fit-content;
  size: 100%;
  height: 650px;
  width: 98%;
  border-color: azure;
}

#heheheha1 {
  animation: blink 1s 2;
}

img {
  border-radius: 25px;
  vertical-align: bottom;
}

.rndrecjs {
  border-radius: 25px;
  background-color: #1f1f1f;
  padding: 15px;
  width: 400px;
  height: 170px;
  display: grid;
  transition: 0.30s;
  margin: 10px;
  display: inline-block;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  outline-style: solid;
  outline-color: #ffffff;
  animation: brighten 3s;
}

.rndrecjs:hover {
  background-color: #827f838a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.btn {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.rectangle {
  padding: 0px;
  margin: 10px;
  background-color: #8a8a8a4e;
  border-radius: 5px;
  width: fit-content;
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
}

#stuff {
  opacity: 0.0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#hover {
  margin-top: -30px;
}

#hover:hover + #stuff {
  opacity: 1.0;
}

.horizontalspacer {
  height: 1px;
  width: 100px;
}

.rndrec {
  border-radius: 25px;
  background-color: #1f1f1f;
  padding: 15px;
  width: 200px;
  height: 210px;
  display: grid;
  transition: 0.30s;
  margin: 10px;
  display: inline-block;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  outline-style: solid;
  outline-color: #ffffff;
}

#searchResultTemplate {
  border-radius: 25px;
  background-color: #55067ca6;
  padding: 15px;
  width: 200px;
  height: 210px;
  display: grid;
  transition: 0.30s;
  margin: 10px;
  display: inline-block;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  outline-style: solid;
  outline-color: #490670;
}

.more {
  border-radius: 25px;
  background-color: #55067c;
  padding: 15px;
  width: 100px;
  height: 20px;
  display: grid;
  transition: 0.75s;
  margin: 10px;
  outline-style: solid;
}

input {
  border-radius: 15px;
  background-color: #5a5a5a55;
  padding: 15px;
  width: 500px;
  height: 20px;
  display: grid;
  transition: 0.75s;
  color: white;
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 3px solid rgb(255, 255, 255);
  animation: brighten 4s;
}

.lights {
  border-radius: 15px;
  background-color: #5a5a5a55;
  padding: 15px;
  display: grid;
  transition: 0.75s;
  color: white;
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 3px solid rgb(255, 255, 255);
  animation: brighten 4s;
}

.search-button {
  border-radius: 27px;
  background-color: #55067c55;
  padding: 15px;
  width: 100px;
  height: 55px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  color: white;
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 10px;
  transition: .3s;
}

.search-button:hover {
  background-color: #6c1f998a;
}

.search-container {
  display: flex;
  align-items: center;
}

.search {
  border-radius: 25px;
  background-color: #55067c;
  padding: 1px;
  width: 500px;
  height: 40px;
  display: grid;
  transition: 0.75s;
  margin: 10px;
}

.rndrecbutton {
  border-radius: 25px;
  background-color: #55067ca6;
  padding: 15px;
  width: 100px;
  height: 20px;
  display: grid;
  transition: 0.30s;
  margin: 10px;
  display: inline-block;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  outline-style: solid;
  outline-color: #490670;
}

footer {
  text-align: left;
}

.rndrecbutton2 {
  border-radius: 25px;
  background-color: #950c0c87;
  padding: 15px;
  width: 100px;
  height: 20px;
  display: grid;
  transition: 0.30s;
  margin: 10px;
  display: inline-block;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  outline-style: solid;
  outline-color: #ffffff;
  animation: brighten 3s;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.main {
  border-radius: 25px;
  background-color: #fafafa33;
  padding: 15px;
  height: 500px;
  display: grid;
  outline-style: solid;
  outline-color: #8a5302;
  width: fit-content;
  background-image: url(Assets/compasswallp.png);
}

.main3 {
  border-radius: 25px;
  background-color: #2bd808;
  padding: 15px;
  width: 400px;
  height: 500px;
  display: grid;
  outline-style: solid;
  outline-color: #107403;
}

.main2 {
  border-radius: 25px;
  background-color: #7c0606;
  padding: 15px;
  width: 400px;
  height: 250px;
  display: grid;
  outline-style: solid;
  outline-color: #490670;
}

.rndrecother {
  border-radius: 25px;
  background-color: #1f1f1f;
  padding: 15px;
  width: 150px;
  height: 140px;
  display: grid;
  transition: 0.30s;
  margin: 10px;
  display: inline-block;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  outline-style: solid;
  outline-color: #ffffff;
  animation: brighten 3s;
}

.button {
  border-radius: 25px;
  background-color: #3f065c;
  padding: 0px;
  width: 0px;
  height: 0px;
}

.spacer {
  width: 10px;
  height: 50px;
}

body {
  background-color: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 120%;
  margin: 0;
}

.rndrecbutton:hover {
  background-color: #31044b;
  transform: translate(3%, 3%);
}

.more:hover {
  background-color: #31044b;
  transform: translate(3%, 3%);
}

.rndrecother:hover {
  background-color: #827f838a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.rndrecbutton2:hover {
  background-color: rgba(186, 55, 32, 0.507);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

a:hover {
  color: #ffffff;
  height: 2px;
}

#hover-worthy::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#hover-worthy:hover::before {
  transform: scaleX(1.15);
}

h2 {
  text-align: center;
}

div {
  text-align: center;
}

p {
  text-align: center;
}

a {
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: 'radio canada big';
  font-size: 1000%;
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.423);
}

div {
  border: 3px solid ();
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: Verdana;
  font-size: 100%;
  width: fit-content;
  height: fit-content;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: Verdana;
  font-size: 300%;
  text-shadow: 5px 5px black;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: Verdana;
  font-size: 200%;
  text-shadow: 3px 3px black;
  text-align: center;
}

p {
  color: rgb(255, 255, 255);
  font-family: 'ubuntu sans', sans-serif;
}

#tos {
  color: white;
  text-decoration: white;
}

.text-button {
  color: white;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
  background-color: #292929;
  border-style: solid;
  border-color: #959595;
  margin-top: 10px;
}

.text-button:hover {
  background-color: #4a4a4a;
}

.navbar2 {
  padding: 0px;
  background-color: #1c1c1c;
  width: 100%;
  left: 0px;
  transition: 0.75s;
  bottom: 0px;
  bottom: 100%;
}
